body
{   overflow-x: hidden;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

/* Navbar */
.navbar
{
    z-index: 3;
}
.navbar-brand
{
    padding-left: 14rem;

}
.navbar-nav
{
    padding-right: 14rem;
}
.nav-item
{
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;

}
/* Title Page */
#title
{
    background-color:hsl(256, 26%, 20%);
    color: #ffffff;
   height:450px
}
h1
{
    font-family: 'DM Serif Display', serif;
}
.title-div
{
    padding-top: 50px;
}
.title-text
{   
   padding-left: 15rem;
   padding-right: -1rem;
   
}

.title-image
{
    position:absolute;
}
 .image-div
{
    
    padding-top: 64px;
    z-index: 1;
    left: 4rem;
} 
.bg-pattern
{
    position: relative;
    margin-left:228px ;
    bottom: 85px;
    z-index: 2;    
    opacity: 50%;
}
.bg-pattern-left
{
    position: relative;
    z-index: 1;
    
    top:60px;
}