body
{   overflow-x: hidden;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
h1
{
    font-family: 'DM Serif Display', serif;
}
h3
{
    font-family: 'DM Serif Display', serif;
    
}
p
{
    font-family: 'Karla', sans-serif;
    color:hsl(256, 26%, 20%) ;
    font-weight: 600;
}
/* Navbar */
.navbar
{
    z-index: 3;
}
.navbar-brand
{
    padding-left: 14rem;

}
.navbar-nav
{
    padding-right: 14rem;
}
.nav-item
{
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;

}
/* Title Page */
#title
{
    background-color:hsl(256, 26%, 20%);
    color: #ffffff;
   height:450px
}

.title-div
{
    padding-top: 50px;
}
.title-text
{   
   padding-left: 15rem;
   padding-right: -1rem;
   color: #ffffff;
   font-weight: 400;
   
}

.title-image
{
    position:absolute;
}
 .image-div
{
    
    padding-top: 64px;
    z-index: 1;
    left: 4rem;
} 
.bg-pattern
{
    position: relative;
    margin-left:228px ;
    bottom: 85px;
    z-index: 2;    
    opacity: 50%;
}
.bg-pattern-left
{
    position: relative;
    z-index: 1;
    
    top:60px;
}
 
/* Testimonials Page */

.second
{
    padding-left: 15rem;
    padding-right: 14rem;
}
.testimonials-icon
{
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}
.testimonials-text
{
    color:  hsl(273, 4%, 51%);
    margin-top: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 400 ;
    
}

/* Work Jumbotron */

.work
{
    padding-left:15rem;
    padding-right:14rem;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.work-div
{   
    width: 1055px;
    height: 220px;
    background-color: hsl(256, 26%, 20%) ;
}
.work-text
{
    color:white;
    padding-left:80px;
    padding-right:75px;
    padding-top: 58px;
    
}
.bt-work
{
    position:relative;
    left:240px;
    top:80px;
    font-family: 'Karla', sans-serif;
    
}
.work-image
{
    margin-left: 131px;
    margin-top: -38px;
}

/* Footer */

#footer
{
    background-color: hsl(0, 0%, 98%);
      
}
.logo-footer
{  position: relative;
    z-index: 1; 
    padding-left:15rem ;
    padding-right:14rem;
    margin-bottom: 40px;
    padding-top:50px
}
.align-icon
{
    margin-left: 49rem;

}
.icon{
    margin-right: 10px;
}
.footer-image
{
    position: absolute;
}

.footer-head
{
    color:hsl(273, 4%, 51%) ;
    margin-bottom: 20px;
}
.icon:hover
{
    background-color: black;
    cursor: pointer;
}
.footer-text:hover
{
    text-decoration: underline;
    cursor: pointer;
}